
/* .flashcard-list {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
}

.flashcard-list li {
    background-color: #e9ecef;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
} */

.flashcard-list {
    list-style-type: none;
    padding: 0;
}

.flashcard-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashcard-list li strong {
    flex-grow: 1;
}

.flashcard-list button {
    margin-left: 10px;
}
